[Unit]
Description=Prysm Validator Daemon
After=network.target auditd.service prysm-beacon.service
Requires=network.target

[Service]
EnvironmentFile=/etc/ethereum/prysm-validator.conf
ExecStart=_HOME_/prysm/prysm.sh $ARGS
Restart=always
User=_USER_

[Install]
WantedBy=multi-user.target
Alias=prysm-validator.service
